# Copier ce fichier en .env et remplir les valeurs
# cp .env.example .env   (Linux/Mac)
# copy .env.example .env (Windows)

SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.mysql
DB_NAME=maintenanceauto
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
